// Dark theme
$backgroundDark: #12263f;
$sidebarDark: #152e4d;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #edf2f9;
$textBright: #12263f;

// Brand
$brandPrimary: #2c7be5;
